<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о сообществе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="Header"></div>
<div class="container">
    <h1>Сообщество</h1>
    <div class="card card_margin mb-2" th:object="${community}">
        <div class="card-header">
            Подписчиков: <a th:text="*{subscribersCount}"/>
            </br>
            Рекомендаций: <a th:text="*{recommendationsCount}"/>
        </div>
        <div class="card-body">
            Название: <h4 class="card-title" th:text="*{name}"/>
            Описание: <h6 class="card-title" th:text="*{description}"/>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <div class="m-lg-1">
                    <form th:action="@{/community/subscribe}" method="post">
                        <input type="hidden" th:value="*{id}" name="id">
                        <input value="❤" type="submit" class="btn btn-outline-success">
                    </form>
                </div>
                <div class="m-lg-1">
                    <form th:action="@{/community/recommend}" method="post">
                        <input type="hidden" th:value="*{id}" name="id">
                        <input value="👌" type="submit" class="btn btn-outline-primary">
                    </form>
                </div>
                <div class="m-lg-1">
                    <form th:if="${communityOwner!=null||adminAccess}" th:action="@{/community/edit}" method="post">
                        <input type="hidden" th:value="*{id}" name="id">
                        <input value="Изменить" type="submit" class="btn btn-outline-warning">
                    </form>
                </div>
                <div class="m-lg-1">
                    <form th:if="${communityOwner!=null||adminAccess}" th:action="@{/community/delete}" method="post">
                        <input type="hidden" th:value="*{id}" name="id">
                        <input value="Удалить" type="submit" class="btn btn-outline-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form th:if="${communityOwner!=null||adminAccess}" th:action="${'/post/create'}" method="post" th:object="${community}">
        <div class="form-group">
            <input type="hidden" name="communityId" th:value="${community.id}"/>
            <button class="btn btn-success" type="submit">Написать пост</button>
        </div>
    </form>
    <h1>Посты</h1>
    <div class="card card_margin mt-2" th:each="el : ${posts}">
        <div class="card-header">
            Тематика: <h4 class="card-title" th:text="${el.thematic.name}"/>
            Описание: <h6 class="card-title" th:text="${el.description}"/>
        </div>
        <div class="card-body">
            <h6 th:text="${el.text}" class="opacity"/>
        </div>
        <div class="card-footer">
            ❤ <a th:text="${el.likeCount}"/>
            <h5 th:text="${el.communityOwner.user.username}"/>
        </div>
        <div class="btn-group">
            <form th:action="@{/post/details}" method="post" class="m-lg-1">
                <input type="hidden" th:value="${el.id}" name="id">
                <input value="Посмотреть" type="submit" class="btn btn-outline-info">
            </form>
            <form th:if="${adminAccess||el.communityOwner.user.username == user.username}" th:action="@{/post/edit}" method="post" class="m-lg-1">
                <input type="hidden" th:value="${el.id}" name="id">
                <input value="Изменить" type="submit" class="btn btn-outline-warning">
            </form>
            <form th:if="${adminAccess||el.communityOwner.user.username == user.username}" th:action="@{/post/delete}" method="post" class="m-lg-1">
                <input type="hidden" th:value="${el.id}" name="id">
                <input value="Удалить" type="submit" class="btn btn-outline-danger">
            </form>
        </div>
    </div>
</div>
</body>
</html>