<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сообщества</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/main">BlogSpring</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/post/index">Посты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/community/index">Сообщества</a>
                    </li>
                    <li class="nav-item" th:if="${adminAccess}">
                        <a class="nav-link" href="/user/index">Пользователи</a>
                    </li>
                    <li class="nav-item" th:if="${adminAccess}">
                        <a class="nav-link" href="/thematic/index">Тематики</a>
                    </li>
                </ul>
                <form>
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-6">
                                <input type="text" name="name" class="form-control" placeholder="Название"/>
                            </div>
                            <div class="col col-lg-3">
                                <input class="btn btn-success" formmethod="get" type="submit" formaction="/community/index" value="Поиск" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col col-lg-3">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-danger" type="submit" value="Выйти">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <h1>Сообщества</h1>
    <a class="btn btn-primary" href="/community/create" style="margin-bottom:0.5em">Добавить</a>
    <div class="card card_margin mb-2" th:each="el : ${communities}">
        <div class="card-header">
            Подписчиков: <a th:text="${el.subscribersCount}"/>
            </br>
            Рекомендаций: <a th:text="${el.recommendationsCount}"/>
        </div>
        <div class="card-body">
            Название: <h4 class="card-title" th:text="${el.name}"/>
            Описание: <h6 class="card-title" th:text="${el.description}"/>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <div class="m-lg-1">
                    <form th:action="@{/community/details}" method="post" class="">
                        <input type="hidden" th:value="${el.id}" name="id">
                        <input value="Посмотреть" type="submit" class="btn btn-outline-info">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>