<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о пользователе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="Header"></div>
<div class="container">
    <tbody>
    <dl class="row">
        <dd class="col-sm-10">
            Имя: <a th:text="${user.name}"/>
        </dd>
        <dd class="col-sm-10">
            Фамилия: <a th:text="${user.surname}"/>
        </dd>
        <dd class="col-sm-10">
            Отчество: <a th:text="${user.lastName}"/>
        </dd>
        <dd class="col-sm-10">
            Логин: <a th:text="${user.username}"/>
        </dd>
        <dd class="col-sm-10">
            Дата рождения: <a th:text="${user.dateBirth}"/>
        </dd>
        <dd class="col-sm-10">
            Пароль: <a th:text="${user.password}"/>
        </dd>
        <dd class="col-sm-10">
            Роли: <a th:text="${user.roles}"/>
        </dd>
        <dd class="col-sm-10" th:if="${user.contactData!=null}">
            Адрес: <a th:text="${user.contactData.address}"/>
        </dd>
        <dd class="col-sm-10" th:if="${user.contactData!=null}">
            Электронная почта: <a th:text="${user.contactData.email}"/>
        </dd>
        <dd class="col-sm-10" th:if="${user.contactData!=null}">
            Номер телефона: <a th:text="${user.contactData.phone}"/>
        </dd>
        <div class="col-sm-10">
            <a class="btn btn-danger" href="/user/index">Назад</a>
        </div>
    </dl>
</div>
</body>
</html>