<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
  <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" href="/main">BlogSpring</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" href="/post/index">Посты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/community/index">Сообщества</a>
          </li>
         <li class="nav-item" th:if="${adminAccess}">
            <a class="nav-link" href="/user/index">Пользователи</a>
          </li>
          <li class="nav-item" th:if="${adminAccess}">
            <a class="nav-link" href="/thematic/index">Тематики</a>
          </li>
        </ul>
        <form th:action="@{/logout}" method="post">
          <div class="form-inline form-group">
            <input class="btn btn-danger" type="submit" value="Выйти">
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
</body>
</html>