<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение роли у пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="Header"></div>
<div class="container">
    <h1>Роли</h1>
    <div class="row">
        <div class="col-md-4">
            <form th:action="${'/role/editRole'}" method="post" th:object="${user}">
                <input type="hidden" name="userId" th:value="*{id}"/>
                <div class="form-group">
                    <label class="control-label">Роль</label>
                    <select class="form-control" name="roleId">
                        <option th:value="0" th:text="ADMIN"/>
                        <option th:value="1" th:text="USER"/>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Изменить</button>
                    <a class="btn btn-danger" href="/user/index">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>