<!DOCTYPE html>
<html lang="en">
<head>
  <title>Добавленние владельца сообщества</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
  <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="Header"></div>
<div class="row">
  <div class="col-md-4">
    <form th:action="${'/communityOwner/create'}" method="post" th:object="${communityOwner}">
      <input type="hidden" name="communityId" th:value="${community.id}"/>
      <div class="form-group">
        <label class="control-label">Создатель</label>
        <select name="userId" class="form-control">
          <div th:each="el : ${users}">
            <option th:value="${el.id}" th:text="${el.email}"/>
          </div>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit">Добавить</button>
        <a class="btn btn-danger" href="/post/index">Отмена</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>